.screen__settings {
    display: flex;
    justify-content: space-between;
}

.screen__menu {
    display: flex;
}

.screen__display {
    margin: 10px auto;
    padding: 10px;
    height: 110px;
}

.screen__text {
    height: 100%;
    margin: 0;
    overflow: auto;
    word-wrap: break-word;
    font-size: 18px;
}

.screen__selectLetter {
    font-weight: 900;
}

.sectionKeyboard {
    margin-top: 20px;
}

.screen__fontSize-button {
    padding: 0 5px;
}

.screen__sizeSet {
    display: flex;
}

.screen__botom-info {
    display: flex;
    justify-content: space-between;
}






.statisticsEnd {
    margin: 0;
    padding: 0;
}

.statisticsEnd span {
    font-weight: 600;
}




.paddingElements {
    padding: 5px 15px;
}


.buttonsHower {
    transition: 0.3s;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.buttonsHower:hover {
    background-color: #111315;
    color: #e3e3e3;
    cursor: pointer;
}


.buttonsSVG {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: none;
}

.buttonsSVG svg {
    height: 16px;
}

.buttonsSVG span {
    margin-left: -10px;
    font-size: 10px;
}





/* hideWindowScreenSize */

.hideWindowScreenSize__sliderItem {
    margin: 20px;
}

.hideWindowScreenSize__sliderItem:nth-child(1) {
    margin-bottom: 35px;
}

.hideWindowScreenSize__slider {
    display: flex;
    height: 10px;
    width: 200px;
    margin: 7px auto;
}

.hideWindowScreenSize__wrapp {
    display: flex;
}

.hideWindowScreenSize__bef-aft {
    margin: auto;
    padding: 5px;
    font-size: 11px;
}

.hideWindowScreenSize__sliderRunner {
    position: relative;
    height: 16px;
    width: 10px;
    top: -3px;
    cursor: pointer;
}

.hideWindowScreenSize__sliderDescr {
    margin-top: 20px;
}





#hideWindowScreenSize {
    display: none;
}