 

.screen__settings {
    display: flex;
    justify-content: space-between;
}

.screen__menu {
    display: flex;
}


.screen__display {
    margin: 10px 0;
    padding: 15px;
}

.screen__text {
    height: 110px;
    margin: 0;
    overflow: auto;
    word-wrap: break-word;
    font-size: 18px;
}


.screen__selectLetter {
    font-weight: 900;
}



.sectionKeyboard {
    margin-top: 20px;
}


.screen__fontSize-button {
    padding: 0 5px;
}











.statisticsEnd {
    margin: 0;
    padding: 0;
}

.statisticsEnd span {
    font-weight: 600;
}






.paddingElements {
    padding: 5px 15px;
}


.buttonsHower {
    transition: 0.3s;
}

.buttonsHower:hover {
    background-color: #111315;
    color: #e3e3e3;
    cursor: pointer;
}