
.main__title {
    margin-bottom: 25px;
    font-size: 30px;
}

.main__description {
    /* margin-left: 150px;
    margin-right: 150px; */
    padding: 0 30px;
}

.main__button button {
    padding: 15px 70px;
}

.hideWindowChoseMode {
    margin-top: 200px;
    padding: 20px 20px 10px;
}

.hideWindowChoseMode__ul {
    padding: 0;
}

.hideWindowChoseMode-li {
    list-style: none;
    padding: 7px;
    transition: 0.3s;
}

.hideWindowChoseMode-li:hover {
    cursor: pointer;
    background-color: #111315;
    color: #ffffff;
}

.bottomImg {
    width: 100%;
    display: none;
}