@media (max-width: 1000px) {
    .header__menu-li {
        width: 140px;
    }

    .header__menu-li--press {
        width: 140px;
    }

    .main__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .mainIndent {
        margin-bottom: 20px;
    }

    .main__button button {
        padding: 7px 40px;
    }

    /* exercises */

    .screen__display {
        padding: 7px
    }

}

@media (max-width: 750px) {

    /* exercises */

    .screen__menu {
        font-size: 12px;
    }

}

@media (max-width: 700px) {

    .header__menu {
        display: none;
    }

    .burgerMenu {
        display: flex;
    }

    .header__menu-ul--press {
        position: relative;
    }

    .header__menu-li--press {
        width: auto;
    }

    .main__keyboard {
        max-width: 580px;
    }

    .main__title {
        display: none;
    }

    .mainIndent {
        margin-bottom: 15px;
    }

    /* training css */

    .main__description {
        padding: 0 10px;
    }

    .main__content {
        display: block;
    }

    .main__rules {
        margin: 20px auto;
    }

    /* exercises */

    .screen__display{
        height: 45px;
    }

}


@media (max-width: 550px) {

    .main__description {
        padding: 0 10px;
    }

    /* exercises */

    .screen {
        font-size: 12px;
    }

}

@media (max-width: 500px) {

    /* exercises */

    .buttonsSVG {
        display: block;
    }

    .screen__menu-items {
        display: none;
    }

    .screen__fontSize {
        display: none;
    }

    .screen__display {
        padding: 5px
    }

}

@media (max-width: 420px) {

    body {
        font-size: 12px;
        overflow: hidden;
    }

    .main__button button {
        padding: 4px 25px;
    }

    .bottomImg {
        display: block;
    }

    /* exercises */

    #hideWindowSetTimer .hideWindowButtons {
        width: 70px;
    }

    #hideWindowScreenSize {
        padding: 20px 0 5px;
    }

    .hideWindowScreenSize__sliderItem {
        margin: 10px;
    }

    .hideWindowScreenSize__slider {
        width: 130px;
    }

}

/* training css */

@media (max-width: 360px) {

    .main__rules {
        width: auto;
    }

    /* exercises */

    .countSymbols {
        font-size: 9px;
    }

    #hideWindowChooseLesson {
        padding: 20px 10px 5px 10px;
    }

    .buttonsLessons {
        margin: auto 3px;
    }

    .hideWindowChooseLesson__buttons button {
        width: 105px;
    }

}