
.main__title {
    font-size: 22px;
}

.main__description {
    padding: 0 140px;
}

.main__content {
    display: flex;
    justify-content: center;
}

.main__button-rule1 {
    padding: 3px 10px;
}

.main__button-button {
    padding: 7px 40px;
    margin-bottom: 20px;
}

.main__rules {
    width: 350px;
    padding: 0 10px;
    text-align: left;
}

span {
    font-weight: 800;
}

.secondScreen {
    display: none;
    margin: 0 30px 20px;
    background-color: #fff;
    padding: 5px 15px;
}

.secondScreen p {
    text-align: left;
}

